<div id="StatsGoalies">
  <header id="page-title">
    <!--<div class="container">
      <h1>Goalies Stats</h1>

      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/Ng/#/Stats/Goalies">Stats</a></li>
        <li class="active">Goalies</li>
      </ul>
    </div>-->
  </header>

  <div class="row">
    <header class="page-title">
      <h4 class="col-md-10">{{data.seasonName}} {{data.seasonTypeName}} - Goalie Statistics</h4>
      <h6 class="col-md-2 text-right">Thru {{data.goalieStatsDataGoodThru}}</h6>
    </header>
  </div>

  <div>
    <table>
      <tr>
        <td align="center">
          <div class="col-xs-12">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
              </div>
              <input class="form-control" id="search-text" name="searchText" ng-model="user.searchText" type="text" focus="" required="" ng-keyup="$event.keyCode == 13 ? navigateToOfferDetailsExecution(user.searchText) : null" placeholder="SEARCH ANY FIELD">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-remove" ng-click="removeSearch()"></span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <td align="center">
          <div class="col-xs-12">
            <div class="btn-group btn-group-xs btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-lo30-disabled">Teams:</button>
              </div>
              <div data-ng-repeat="team in teams" class="btn-group">
                <button type="button" class="btn" ng-click="filterByTeam(team)"
                        ng-class="{'btn-default':team !== user.selectedTeam, 'btn-primary':team === user.selectedTeam}">
                  {{team}}
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <td align="center">
          <div class="col-xs-12">
            <div class="btn-group btn-group-xs btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-danger disabled">Pos:</button>
              </div>
              <div data-ng-repeat="position in positions" class="btn-group">
                <button type="button" class="btn disabled" ng-click="filterByPosition(position)"
                        ng-class="{'btn-default':position !== user.selectedPosition, 'btn-danger':position === user.selectedPosition}">
                  {{position}}
                </button>
              </div>
            </div>
          </div>
        </td>
        <td align="center">
          <div class="col-xs-12">
            <div class="btn-group btn-group-xs btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-warning disabled">Line:</button>
              </div>
              <div data-ng-repeat="line in lines" class="btn-group">
                <button type="button" class="btn disabled" ng-click="filterByLine(line)"
                        ng-class="{'btn-default':line !== user.selectedLine, 'btn-warning':line === user.selectedLine}">
                  {{line}}
                </button>
              </div>
            </div>
          </div>
        </td>
        <td align="center">
          <div class="col-xs-12">
            <div class="btn-group btn-group-xs btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-lo30-disabled">Subs:</button>
              </div>
              <div data-ng-repeat="sub in subs" class="btn-group">
                <button type="button" class="btn" ng-click="filterBySub(sub)"
                        ng-class="{'btn-default':sub !== user.selectedSub, 'btn-success':sub === user.selectedSub}">
                  {{sub}}
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br/>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-dk-blue">
      <thead>
        <tr>
          <td>Rank</td>
          <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'team'}" ng-click="sortAscOnly('team')">Team</td>
          <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'player'}" ng-click="sortAscOnly('player')">Player</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'gp'}" ng-click="sortDescOnly('gp')">GP</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'ga'}" ng-click="sortAscOnly('ga')">GA</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'gaa'}" ng-click="sortAscOnly('gaa')">GAA</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'so'}" ng-click="sortDescOnly('so')">SO</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'w'}" ng-click="sortDescOnly('w')">Wins</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'winPercent'}" ng-click="sortDescOnly('winPercent')">Win%</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'sub'}" ng-click="sortAscFirst('sub')">Sub</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in data.goalieStats | filterize:user.searchText | orderBy:sortOn:sortDirection">
          <td>{{$index+1}}</td>
          <td ng-class="{'td-sorted-by':sortOn === 'team' }">{{item.team}}</td>
          <td ng-class="{'td-sorted-by':sortOn === 'player' }"><a ng-href="/Ng/#/Players/Goalie/{{item.pid}}">{{item.player}}</a></td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'gp' }">{{item.gp}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'ga' }">{{item.ga}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'gaa' }">{{item.gaa | number:2}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'so' }">{{item.so}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'w' }">{{item.w}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'winPercent' }">{{item.winPercent | percentage:0}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'sub'}">{{item.sub}}</tdclass>
        </tr>
      </tbody>
    </table>
  </div>
  <h6 ng-show="data.villaExchangeRateOn">*American to Mexican Goals Against Exchange Rate: {{data.villaExchangeRate}}</h6>

  </div>