@{
  ViewBag.Title = "LO30 | ScoreSheet | Entry";
  ViewBag.InitModule = "lo30AppScoreSheet";
}

@section Scripts {
}

<div id="wrapper">
  <hgroup class="title">
    <h1>@ViewBag.Title</h1>
  </hgroup>

  <div ng-view=""></div>
</div>
