<div id="wrapper">
  <hgroup class="title">
    <h1>LO30 | Home </h1>
  </hgroup>
  <!-- REVOLUTION SLIDER
  <div class="fullwidthbanner-container roundedcorners">
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
          <img src="/Content/Images/dummy.png" data-lazyload="/Content/Images/eddie-edgar-building.jpg" data-fullwidthcentering="on">
          <div class="tp-caption medium_bg_darkblue lft"
               data-x="25"
               data-y="25"
               data-speed="300"
               data-start="500"
               data-easing="easeOutExpo">
            Excellent Competition For All Levels
          </div>
        </li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
          <img src="/Content/Images/dummy.png" alt="church1" data-lazyload="/Content/Images/eddie-edgar-ice.jpg" data-fullwidthcentering="on">
          <div class="tp-caption large_bold_white lft"
               data-x="300"
               data-y="170"
               data-speed="300"
               data-start="500"
               data-easing="easeOutExpo">
            Fantastic Ice Times
          </div>
        </li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
          <img src="/Content/Images/dummy.png" alt="church2" data-lazyload="/Content/Images/Home/LO30TraditionCollage.png" data-fullwidthcentering="on">
          <div class="tp-caption medium_bg_darkblue lft"
               data-x="500"
               data-y="160"
               data-speed="300"
               data-start="500"
               data-easing="easeOutExpo">
            Tradition, Family, Fun
          </div>
        </li>

      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
   /REVOLUTION SLIDER -->


  <section class="container text-center">
    <h1 class="text-center">
      Livonia Over 30 <strong>Hockey</strong>
      <span class="subtitle">ANY DAY PLAYING HOCKEY IS A GREAT DAY!</span>
    </h1>
    <p class="lead">A league built around fun, fair, and competitive play for all ages (over 30) and skill levels.</p>
  </section>


  <div class="container">
    <hr class="half-margins" /><!-- hr line -->
  </div>


  <!-- ONE NATION -->
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Why Livonia Over 30?</h2>
        <p>If you want to play hockey, you live in Livonia, and you are over 30, then you need to get into the Livonia Over 30 Hockey league. The league has been in existance since 1970.  It is loaded with tradition, families, and fun.  Through a unique rating system, draft process, and line structure, the league makes it fair and competitive for all ages (over 30) and skill levels.  The facilities are great.  The ice times are fantastic.  And the cost is just right!</p>
        <h4>Game Start Times:</h4>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">Sunday</div>
          <div class="col-xs-4 col-xs-offset-1">5:30 PM - 9:30 PM</div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">Thursday</div>
          <div class="col-xs-4 col-xs-offset-1">8:30 PM - 9:45 PM</div>
        </div>
        <div class="row">
          &nbsp;
        </div>
      </div>
      <div id="carousel" class="col-md-6">
       <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
          <div>
            <img alt="" class="img-responsive" src="/Content/Images/2011_daly.jpg">
          </div>
          <div>
            <img alt="" class="img-responsive" src="/Content/Images/2011_dg.jpg">
          </div>
          <div>
            <img alt="" class="img-responsive" src="/Content/Images/2011_dpkz.jpg">
          </div>
          <div>
            <img alt="" class="img-responsive" src="/Content/Images/2011_glover.jpg">
          </div>
          <div>
            <img alt="" class="img-responsive" src="/Content/Images/2011_hunts.jpg">
          </div>
          <div>
            <img alt="" class="img-responsive" src="/Content/Images/2011_lab.jpg">
          </div>
          <div>
            <img alt="" class="img-responsive" src="/Content/Images/2011_psi.jpg">
          </div>
          <div>
            <img alt="" class="img-responsive" src="/Content/Images/2011_zaschak.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /ONE NATION -->


  <div class="divider">
    <i class="fa fa-leaf"></i>
  </div>


  <section class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
        <figure>
          <img class="img-responsive center-block" style="height: 200px;" src="/Content/Images/over30_logo.gif" alt="" />
        </figure>

        <h3>Join the League</h3>
        <p>
          Are you a Livonia Resident? Over 30 years old? Able to commit to playing hockey Thursday and Sunday nights? Interested in playing in the <b>Best</b> hockey league in Michigan? Add your name to the wait list! Send an email to <a href="MailTo:information@livoniaover30hockey.com?subject=Add me to both the Waiting List and the Sub List">information@livoniaover30hockey.com</a> Include your full name, address, city, state, zip code, home phone number and work/cell phone number, and the name(s) of anybody currently playing in the league that know you, and a brief background of your hockey playing abilities (how many years you've played, where you last played, what position you play, approx. how good a player you are, etc.).
        </p>
        <!--a href="#" class="btn btn-primary btn-xs">READ MORE</a-->
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
        <figure>
          <img class="img-responsive center-block" style="height: 200px;" src="/Content/Images/hockey_accessories_main.jpg" alt="" />
        </figure>

        <h3>Sub in the League</h3>
        <p>Maybe you cannot meet all the criteria for joining the league, but you are still interested in subbing.  Send an email to <a href="MailTo:information@livoniaover30hockey.com?subject=Add me to the Sub List">information@livoniaover30hockey.com</a> Include all the required info for joining the league. </p>
        <!--a href="#" class="btn btn-primary btn-xs">READ MORE</a-->
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 margin-top30">
        <div id="carousel">
          <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
            <div>
              <img alt="" class="img-responsive center-block" style="height: 200px;" src="/Content/Images/sponsor_cbs.jpg">
            </div>
            <div>
              <img alt="" class="img-responsive center-block" style="height: 200px;" src="/Content/Images/sponsor_daly.jpg">
            </div>
            <div>
              <img alt="" class="img-responsive center-block" style="height: 200px;" src="/Content/Images/sponsor_dg.jpg">
            </div>
            <div>
              <img alt="" class="img-responsive center-block" style="height: 200px;" src="/Content/Images/sponsor_hunt.jpg">
            </div>
            <div>
              <img alt="" class="img-responsive center-block" style="height: 200px;" src="/Content/Images/sponsor_lab.jpg">
            </div>
            <div>
              <img alt="" class="img-responsive center-block" style="height: 200px;" src="/Content/Images/sponsor_lasalle.jpg">
            </div>
            <div>
              <img alt="" class="img-responsive center-block" style="height: 200px;" src="/Content/Images/sponsor_stante.jpg">
            </div>
            <div>
              <img alt="" class="img-responsive center-block" style="height: 200px;" src="/Content/Images/sponsor_zas_ent.jpg">
            </div>
          </div>
        </div>

        <h3>Sponsorships</h3>
        <p>If you are interested in sponsoring a team in league, please send an email to <a href="MailTo:information@livoniaover30hockey.com?subject=Please contact me about sponsorship opportunities">information@livoniaover30hockey.com</a>  Include your full name, contact phone number, and best time to reach you.  You do not need to play hockey, although many of our sponsors are also league members.</p>
        <!--a href="#" class="btn btn-primary btn-xs">READ MORE</a-->
      </div>
    </div>
  </section>

</div>
