<div>
  <h3>
    <div ng-hide="events.gamesLoaded">Loading games...</div>
    <div ng-show="events.gamesLoaded">Please select a game</div>
  </h3>
  <h3 ng-show="user.selectedGameId">
    <div>Game</div>
    <div>Id: {{data.gameSelected.gameId}}</div>
    <div>Date: {{data.gameSelected.gameDateTime}}</div>
    <div>Type: {{data.gameSelected.season.seasonName}} {{data.gameSelected.playoff == true ? "Playoff Game" : "Regular Season Game"}}</div>
  </h3>
  <div>
    <accordion close-others="true">
      <accordion-group ng-hide="events.gameRosterHomeLoaded" heading="Select a game to load the Home Team Roster">
      </accordion-group>
      <accordion-group ng-hide="events.gameRosterAwayLoaded" heading="Select a game to load the Away Team Roster">
      </accordion-group>
      <accordion-group ng-show="events.gameRosterHomeLoaded">
        <accordion-heading>
          Home Team Roster: <b>{{data.homeTeamName}}</b>
        </accordion-heading>
        <lo30-game-roster team-roster="data.teamRosterHome" game-roster="data.gameRosterHome" home-team=true locked=true />
      </accordion-group>
      <accordion-group ng-show="events.gameRosterAwayLoaded">
        <accordion-heading>
          Away Team Roster: <b>{{data.awayTeamName}}</b>
        </accordion-heading>
        <lo30-game-roster team-roster="data.teamRosterAway" game-roster="data.gameRosterAway" home-team=false locked=true />
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          Scoring Detail: <b>{{data.homeTeamName}}:{{data.homeTeamScore}}</b> <b>{{data.awayTeamName}}:{{data.awayTeamScore}}</b>
        </accordion-heading>
        <lo30-scoring-detail game-id="data.gameIdSelected" />
      </accordion-group>
      <accordion-group>
        <accordion-heading>
          Penalty Detail: <b>{{data.homeTeamName}}:{{data.homeTeamPims}} mins</b> <b>{{data.awayTeamName}}:{{data.awayTeamPims}} mins</b>
        </accordion-heading>
      </accordion-group>
      </accordian>
  </div>
  <pre>
    <table>
      <thead>
        <tr>
          <td>Data</td>
          <td>Loaded</td>
          <td>Length</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Games</td>
          <td>{{events.gamesLoaded}}</td>
        <td>{{data.games.length}}</td>
        </tr>
        <tr>
        <td>gameTeamHome</td>
        <td>{{events.gameTeamHomeLoaded}}</td>
        <td>{{data.gameTeamHome.length}}</td>
        </tr>
        <tr>
        <td>gameTeamAway</td>
        <td>{{events.gameTeamAwayLoaded}}</td>
        <td>{{data.gameTeamAway.length}}</td>
        </tr>
        <tr>
        <td>gameRosterHome</td>
        <td>{{events.gameRosterHomeLoaded}}</td>
        <td>{{data.gameRosterHome.length}}</td>
        </tr>
        <tr>
        <td>gameRosterAway</td>
        <td>{{events.gameRosterAwayLoaded}}</td>
        <td>{{data.gameRosterAway.length}}</td>
        </tr>
        <tr>
        <td>teamRosterHome</td>
        <td>{{events.teamRosterHomeLoaded}}</td>
        <td>{{data.teamRosterHome.length}}</td>
        </tr>
        <tr>
        <td>teamRosterAway</td>
        <td>{{events.teamRosterAwayLoaded}}</td>
        <td>{{data.teamRosterAway.length}}</td>
        </tr>

      </tbody>
    </table>
  </pre>
</div>
