<div>
  <div>
    <h4>
      Career Statistics
      <small>(other years still to be added)</small>
    </h4>
  </div>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-dk-blue">
      <thead>
        <tr>
          <td class="text-left">Seasons</td>
          <td class="text-right">Games</td>
          <td class="text-right">Goals</td>
          <td class="text-right">Assists</td>
          <td class="text-right">Points</td>
          <td class="text-right">PIM</td>
          <td class="text-right">PPG</td>
          <td class="text-right">SHG</td>
          <td class="text-right">GWG</td>

      </thead>
      <tbody>
        <tr>
          <td class="text-left">{{data.playerStatsCareer.seasons}} Season(s)</td>
          <td class="text-right">{{data.playerStatsCareer.games}}</td>
          <td class="text-right">{{data.playerStatsCareer.goals}}</td>
          <td class="text-right">{{data.playerStatsCareer.assists}}</td>
          <td class="text-right">{{data.playerStatsCareer.points}}</td>
          <td class="text-right">{{data.playerStatsCareer.penaltyMinutes}}</td>
          <td class="text-right">{{data.playerStatsCareer.powerPlayGoals}}</td>
          <td class="text-right">{{data.playerStatsCareer.shortHandedGoals}}</td>
          <td class="text-right">{{data.playerStatsCareer.gameWinningGoals}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
