<div>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-dk-blue">
      <thead>
        <tr>
          <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'gameId'}" ng-click="sortAscOnly('gameId')">Game</td>
          <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'game.gameYYYYMMDD'}" ng-click="sortAscOnly('game.gameYYYYMMDD')">Date</td>
          <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'seasonTeam.team.teamShortName'}" ng-click="sortAscOnly('seasonTeam.team.teamShortName')">Team</td>
          <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'line'}" ng-click="sortAscOnly('line')">Line</td>
          <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'position'}" ng-click="sortAscOnly('position')">Position</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'games'}" ng-click="sortDescOnly('games')">Games</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'goals'}" ng-click="sortDescOnly('goals')">Goals</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'assists'}" ng-click="sortDescOnly('assists')">Assists</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'points'}" ng-click="sortDescOnly('points')">Points</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'penaltyMinutes'}" ng-click="sortDescOnly('penaltyMinutes')">PIM</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'powerPlayGoals'}" ng-click="sortDescOnly('powerPlayGoals')">PPG</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'shortHandedGoals'}" ng-click="sortDescOnly('shortHandedGoals')">SHG</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'gameWinningGoals'}" ng-click="sortDescOnly('gameWinningGoals')">GWG</td>

      </thead>
      <tbody>
        <tr ng-repeat="itemPSG in data.playerStatsCareer | orderBy:sortOn:sortDirection">
          <td ng-class="{'td-sorted-by':sortOn === 'gameId' }">{{itemPSG.gameId}}</td>
          <td ng-class="{'td-sorted-by':sortOn === 'game.gameYYYYMMDD' }">{{itemPSG.game.gameYYYYMMDD}}</td>
          <td ng-class="{'td-sorted-by':sortOn === 'seasonTeam.team.teamShortName' }">{{itemPSG.seasonTeam.team.teamShortName}}{{itemPSG.sub == true ? "*" : ""}}</td>
          <td ng-class="{'td-sorted-by':sortOn === 'line' }">{{itemPSG.line}}</td>
          <td ng-class="{'td-sorted-by':sortOn === 'position' }">{{itemPSG.position}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'games'}">1</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'goals'}">{{itemPSG.goals}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'assists'}">{{itemPSG.assists}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'points' }">{{itemPSG.points}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'penaltyMinutes' }">{{itemPSG.penaltyMinutes}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'powerPlayGoals' }">{{itemPSG.powerPlayGoals}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'shortHandedGoals' }">{{itemPSG.shortHandedGoals}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'gameWinningGoals' }">{{itemPSG.gameWinningGoals}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
