<div>
  <div>
    <h4>
      {{data.playerStatsSeason[0].season.seasonName}} Season Statistics
    </h4>
  </div>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-striped table-dk-blue">
      <thead>
        <tr>
          <td class="pointer" ng-class="{'td-sorted-by':sortOn === 'season.seasonName'}" ng-click="sortDescOnly('name')">Type</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'games'}" ng-click="sortDescOnly('games')">GP</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'goals'}" ng-click="sortDescOnly('goals')">G</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'assists'}" ng-click="sortDescOnly('assists')">A</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'points'}" ng-click="sortDescOnly('points')">P</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'penaltyMinutes'}" ng-click="sortDescOnly('penaltyMinutes')">PIM</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'powerPlayGoals'}" ng-click="sortDescOnly('powerPlayGoals')">PPG</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'shortHandedGoals'}" ng-click="sortDescOnly('shortHandedGoals')">SHG</td>
          <td class="pointer text-right" ng-class="{'td-sorted-by':sortOn === 'gameWinningGoals'}" ng-click="sortDescOnly('gameWinningGoals')">GWG</td>
      </thead>
      <tbody>
        <tr ng-repeat="item in data.playerStatsSeason | orderBy:sortOn:sortDirection">
          <td ng-class="{'td-sorted-by':sortOn === 'name' }">{{item.name}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'games'}">{{item.games}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'goals'}">{{item.goals}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'assists'}">{{item.assists}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'points' }">{{item.points}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'penaltyMinutes' }">{{item.penaltyMinutes}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'powerPlayGoals' }">{{item.powerPlayGoals}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'shortHandedGoals' }">{{item.shortHandedGoals}}</td>
          <td class="text-right" ng-class="{'td-sorted-by':sortOn === 'gameWinningGoals' }">{{item.gameWinningGoals}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
