<div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row" ng-if="teamGameRosterItem.rosteredPlayed">
        <div class="col-xs-1">{{teamGameRosterItem.rostered.line}}</div>
        <div class="col-xs-1">
          <input type="checkbox" ng-model="teamGameRosterItem.rosteredPlayed" ng-disabled="teamGameRosterItem.gameProcessed">
        </div>
        <div class="col-xs-1">
          <input type="checkbox" ng-model="teamGameRosterItem.rosteredWasSubbedFor" ng-change="toggleRosteredWasSubbedFor(teamGameRosterItem)" ng-disabled="teamGameRosterItem.gameProcessed">
        </div>
        <div class="col-xs-1">{{teamGameRosterItem.rostered.playerNumber}}</div>
        <div class="col-xs-1">{{teamGameRosterItem.rostered.position}}</div>
        <div class="col-xs-5">{{teamGameRosterItem.rostered.player.firstName}} {{teamGameRosterItem.rostered.player.lastName}}</div>
        <div class="col-xs-1">{{teamGameRosterItem.rostered.ratingPrimary}}.{{teamGameRosterItem.rostered.ratingSecondary}}</div>
        <div class="col-xs-1">{{teamGameRosterItem.rostered.playerId}}</div>
      </div>
      <div class="row" ng-if="!teamGameRosterItem.rosteredPlayed">
        <div class="col-xs-1">{{teamGameRosterItem.rostered.line}}</div>
        <div class="col-xs-1">
          <input type="checkbox" ng-model="teamGameRosterItem.rosteredPlayed" ng-disabled="teamGameRosterItem.gameProcessed">
        </div>
        <div class="col-xs-1">
          <input type="checkbox" ng-model="teamGameRosterItem.rosteredWasSubbedFor" ng-disabled="teamGameRosterItem.gameProcessed">
        </div>
        <s class="col-xs-1">{{teamGameRosterItem.rostered.playerNumber}}</s>
        <s class="col-xs-1">{{teamGameRosterItem.rostered.position}}</s>
        <s class="col-xs-5">{{teamGameRosterItem.rostered.player.firstName}} {{teamGameRosterItem.rostered.player.lastName}}</s>
        <s class="col-xs-1">{{teamGameRosterItem.rostered.ratingPrimary}}.{{teamGameRosterItem.rostered.ratingSecondary}}</s>
        <s class="col-xs-1">{{teamGameRosterItem.rostered.playerId}}</s>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row" ng-repeat="item in teamGameRosterItem.subbedForRostered">
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"><span class="glyphicon glyphicon-plus" ng-disabled="teamGameRosterItem.gameProcessed"></span></div>
        <div class="col-xs-1">{{item.playerNumber}}</div>
        <div class="col-xs-1">{{item.position}}</div>
        <div class="col-xs-5">{{item.player.firstName}} {{item.player.lastName}}</div>
        <div class="col-xs-1">{{item.ratingPrimary}}.{{item.ratingSecondary}}</div>
        <div class="col-xs-1">{{item.playerId}}</div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="user.clickedAddSub">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"><span class="glyphicon glyphicon-plus"></span></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5"
             isteven-multi-select
             selection-mode="single"
             input-model="subs"
             output-model="data.selectedSub"
             button-label="firstName lastName"
             item-label="playerId firstName lastName suffix"
             tick-property="ticked"
             max-height="250px"
             min-search-length="2"
             search-property="playerId firstName lastName suffix">
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
      </div>
    </div>
  </div>
</div>
