@{
  ViewBag.Title = "LO30 | Home";
  ViewBag.InitModule = "articlesIndex";
}
@section Scripts {
  <script src="~/App_Scripts/articlesIndex.js"></script>
}
<div id="wrapper">
  <div ng-view=""></div>
</div>
